body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  text-align: center;
}

.nav-list {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-items:hover {
  color: rgba(255, 0, 0, 1);
  cursor: pointer;
}

header {
  margin-top: 25px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
